.form__submit-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 940px) {
    .form__submit-text{
        font-size: 14px;
        line-height: 17px;
    }
}